@font-face {
  font-family: Track;
  src: url(../fonts/Track.ttf); }
html, body {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0; }

* {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Track;
  padding: 0; }

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

svg {
  height: 50px;
  width: 50px; }

.wrapper {
  margin: 0 auto; }

.content {
  margin: 0 auto;
  padding: 0 3%; }

.menu-toggle {
  cursor: pointer;
  height: 30px;
  position: fixed;
  right: 25px;
  top: 20px;
  width: 40px;
  z-index: 10; }

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px); }

.menu-toggle.on .two {
  opacity: 0; }

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px); }

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #fac113;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

nav ul {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  list-style: none;
  margin: 4em auto;
  text-align: center;
  z-index: 15; }
  nav ul.hidden {
    display: none; }

nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-family: Track;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
  width: 100%;
  display: block; }

.menu-section.on {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed; }

header {
  height: 100%; }

canvas {
  background: url(../img/general/retrato.png) no-repeat center fixed; }

h2 {
  background-color: #fac113;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  font-size: 3rem;
  left: 15%;
  margin-bottom: 1%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 70%;
  width: 70%; }

.br {
  left: 5%;
  top: 78%;
  width: 90%; }

#about {
  background-color: #F2F2F2; }

h3 {
  border-bottom: #fac113 solid 5px;
  color: #fac113;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  padding-top: 5%; }

.description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 5%; }

.step-works {
  padding: 5% 0;
  text-align: center; }

.step {
  background-color: #000;
  border-radius: 50%;
  margin: 40px auto 30px;
  height: 200px;
  width: 200px; }
  .step svg {
    fill: #fff;
    margin: 0 auto;
    height: 100%;
    width: 60%; }
  .step p {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold; }

.destacado {
  fill: #fac113; }

.contact-info {
  padding-top: 5%;
  text-align: center; }

.contact {
  margin: 10px; }
  .contact h4 {
    font-size: 16px;
    font-size: 1.6rem; }
  .contact p {
    font-size: 16px;
    font-size: 1.6rem; }

footer {
  background-color: #fac113; }
  footer ul {
    text-align: center; }

.social-bar {
  display: inline-block;
  width: 50px; }

.copyright {
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  padding-top: 5%;
  text-align: center; }

.work {
  height: auto;
  padding: 5% 0;
  max-width: 100%;
  text-align: center; }
  @media screen and (min-width: 900px) {
    .work {
      display: inline-block;
      margin: 20px; } }

/*# sourceMappingURL=style.css.map */
