// 
// Estilos para los elementos base
//

@font-face {
  font-family: Track;
  src: url(../fonts/Track.ttf);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $PrincipalFont;
  padding: 0;
}

ul, li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h3, h4{
  @include border-left(7px, #fac113);
  @include font-size(36);
  color: $PrincipalColor;
  padding: 0 10px;
  margin-top: 25%;
}

// contenedores
.wrapper{
  margin: 0 auto; 
  width: $max-width;
}

.content{
	width: $content-width;
	margin: 0 auto;
}