// 
// Variables
//

// Tipografía
$PrincipalFont: Track;
$SecondFont: Helvetica, Arial, sans-serif;

// Colores
$PrincipalColor: #fac113; //amarillo
$SecondColor: #F2F2F2; //AzulOscuro


