// 
// Variables
//

// Tipografía
$PrincipalFont: Track;
$SecondFont: Helvetica, Arial, sans-serif;

// Colores
$PrincipalColor: #fac113; //amarillo
$SecondColor: #2c2f37; //AzulOscuro


// Layout
$max-width: 1280px;
$content-width: 960px;