//
// Estilos de about
//
#about{
	background-color: $SecondColor;
}

h3{
	border-bottom:$PrincipalColor solid 5px;
	color: $PrincipalColor;
	@include font-size(30);
	text-align: center;
	padding-top: 5%;

}

.description{
	font-family: $SecondFont;
	@include font-size(18);
	text-align: center;
	padding-bottom: 5%;

}

.step-works{
	padding: 5% 0;
	text-align: center;
}

.step{
	background-color: #000;
	border-radius: 50%;
	margin: 40px auto 30px;
	height: 200px;
	width: 200px;
	& svg{
		fill: #fff;
		margin: 0 auto;
		height: 100%;
		width: 60%;
	}
	& p{
		@include font-size(18);
		font-weight: bold;
	}
}

.destacado{
	fill: $PrincipalColor;
}