//
// Estilos para Contact
//
//

.contact-info{
	padding-top: 5%;
	text-align: center;
}

.contact{
	margin:10px;
	& h4{
		@include font-size(16);
	}
	& p{
		@include font-size(16);
	}
}