//
// Estilos del footer
//

footer{
	background-color: $PrincipalColor;
	& ul{
		text-align: center;
	}
}

.social-bar{
	display: inline-block;
	width: 50px;
}

.copyright{
	color: #fff;
	@include font-size(16);
	padding-top: 5%;
    text-align: center;
}