//
// Estilos del header
//
header{
	height: 100%;
}

canvas{
	background: url(../img/general/retrato.png) no-repeat center fixed;
}

h2{
	background-color: $PrincipalColor;
	color: #fff;
	display: inline-block;
	@include font-size(30);
	left: 15%;
	margin-bottom: 1%;
	padding: 10px;
	position:absolute;
	text-align: center;
	top: 70%;   
	width: 70%;
}   
.br{
	left: 5%;
	top: 78%;
	width: 90%;

}
