//
// Estilos del header
//

h2{
	color: #fff;
	background-color: $PrincipalColor;
	display: inline-block;
	padding: 10px 80px;
	position: absolute;
	right: 36%;
  	top: 80%;
	@include font-size(43);
	z-index: 2;
	&.br{
		right: 25%;
  		top: 90%;
	}
}

img[alt="Retrato de un diseñador"]{
	position: absolute;
	margin: 0 auto;
}