//
// Estilos para la navegación
//

// Estilos generales

nav.principal {

  ul {
    float: right;
  }

  li {
    display: inline-block;
  }
}

// Navegación principal

h1{
  display: inline-block;
  position: relative;
  top: 5px;

  a.logo{
    padding: 0;
  }
}

.principal{
  display: inline-block;
  height: 100px;
  margin-top: 25px;

  a {
    color: $SecondColor;
    padding: 0 30px;
    font-family: $PrincipalFont;
    line-height: 100px;
    @include font-size(24);
    text-decoration: none;
  }

  .last-icon{
    border-right: $PrincipalColor 5px solid;
  }
}

svg{
  display: inline;
  height: 31px;
  width: 45px;

  &:hover{
    fill: $PrincipalColor;
  }
}

.fixed {
  position: fixed;
  top: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}